@use "../Abstract/base";

@use "../Abstract/mixins";

@use "../Utility/utility";

html {
  font-size: 62.5%;

  //1 rem = 10px;
}

body {
  padding: 1.2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper {
  position: relative;
}

.text {
  font-size: 3rem;
  padding: 1rem;

  &::before {
    content: "{";
    position: absolute;
    top: -1rem;
    left: 10.2rem;
    transform: scale(2) rotate(90deg);
  }

  &::after {
    content: "[";
    position: absolute;
    top: 3.2rem;
    left: 9rem;
    transform: scale(2) rotate(-90deg);
  }
}

.btn--container {
  position: relative;
  text-align: right;
}

.sign-in {
  position: absolute;
  top: 0;
  right: 6rem;
  background-color: red;

  &:link,
  &:visited {
    text-decoration: none;
    transition: background-color 1s;
    display: inline-block;
    @include mixins.btnStyle(30px, 30px, 2rem, 1rem, 2rem, 1rem, inline-block);
  }
}

.sign-up {
  background-color: yellow;
  &:link,
  &:visited {
    text-decoration: none;
    transition: background-color 1s;
    @include mixins.btnStyle(30px, 30px, 2rem, 1rem, 2rem, 1rem, inline-block);
  }
}

.allcategory--packages {
  background-color: red;
  padding: 0.5rem 1.2rem;
  margin: 0 1.2rem 0 1.5rem;
}

.all--category {
  text-decoration: none;
}

.package--ultra,
.package--semi,
.package--premium,
.package--micro {
  text-decoration: none;
}

main {
  padding: 0 0 0 0px;

  // position: relative;
  background-image: url("../img/What-are-the-Benefits-of-Photography-Complete-Overview (1).png");
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .stacked__container {
    display: flex;
    gap: 35px;

    // background-color: blue;
  }

  .left-part {
    // background-color: red;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-basis: 100%;
    // background-color: red;
    // flex-grow: 1;
    h1 {
      background-color: red;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 1rem;
      text-transform: uppercase;
    }

    .text-right {
      color: rgba(255, 255, 255, 0.759);
      font-weight: 300;
    }
  }
  .right-part {
    // background-color: blue;
    // padding-top: 40px;
    border-radius: 8px;

    background-color: red;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .book__now {
    // background-color: yellow;
    background-color: yellow;
  }

  .booking__credentials {
    background-color: rgba(127, 255, 212, 0.5);
  }

  .whats__app {
    // background-color: red;
  }

  .phone__no {
    // background-color: purple;
  }

  .email__id {
    // background-color: aquamarine;
  }
}

/* Utility Classes */

.search {
  display: flex;
  // background-color: aqua;
  align-items: center;
  // position: relative;
  // margin-bottom: 8px;

  &__input {
    height: 30px;
    border: none;
    font-family: inherit;
    border: 1px solid red;
    padding-left: 12px;
    background-color: white;
    position: relative;

    flex-grow: 1;

    // background-color: aquamarine;

    &:focus {
      outline: none;
    }
  }

  &__button {
    position: absolute;
    left: 44%;
    display: flex;
    align-items: center;
    background-color: white;
    padding-right: -30px;
    border: none;
    flex-shrink: 0;
    background-color: blue;
    // background-color: white;
  }

  &__icon {
    height: 25px;
    width: 25px;
    fill: red;
  }
}

.expand__icon {
  height: 20px;
  width: 30px;
  fill: red;
}

.photography--studio {
  width: 100%;
}

.form__text {
  width: 50%;
  height: 40px;
}

.features {
  display: flex;
  background-color: red;
  padding-left: 24px;
  justify-content: space-between;
  // justify-content: space-between;
  .feature {
    text-decoration: none;
    background-color: blue;
    @include mixins.btnStyle(
      $padding-left: 3rem,
      $padding-top: 1rem,
      $padding-right: 3rem,
      $padding-bottom: 1rem,
      $disp: inline-block
    );
    border-radius: 1rem;
  }
}

.footer {
  display: grid;

  // grid-template-columns: repeat(auto-fit);

  // grid-template-rows: repeat(4, 1fr);

  // grid-template-rows: min-content;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .card {
    // padding: 12px;
    background-color: aqua;
    border: 1px solid red;
    border-radius: 12px;
    overflow: hidden;

    padding-top: 22px;

    padding-bottom: 22px;

    &__title {
      background-color: yellow;
      text-align: center;
      border-radius: 4px;
    }

    &__description {
      text-align: center;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 12px;
    }
  }
}
