@use "../Abstract/base";

@use "../Abstract/mixins";

@use "../Utility/utility";

body {
  padding: 12px;
}

.wrapper {
  position: relative;
  // background-color: purple;
  // background-color: aqua;
  // width: 50%;
  // margin: 0 auto;
}

.text {
  font-size: 3rem;
  padding: 1rem;
  // background-color: red;
  // display: block;
  // text-align: center;

  &::before {
    content: "{";
    position: absolute;
    top: -9px;
    left: 160px;
    transform: scale(2) rotate(90deg);
  }

  &::after {
    content: "[";
    position: absolute;
    top: 50px;
    left: 150px;
    transform: scale(2) rotate(-90deg);
  }
}

.btn--container {
  position: relative;
}

.sign-in {
  position: absolute;
  top: 0;
  right: 80px;
  background-color: red;

  &:link,
  &:visited {
    text-decoration: none;
    transition: background-color 1s;
    display: inline-block;
    @include mixins.btnStyle(30px, 30px, 2rem, 1rem, 2rem, 1rem, inline-block);
  }
}

.sign-up {
  background-color: yellow;
  &:link,
  &:visited {
    text-decoration: none;
    transition: background-color 1s;
    @include mixins.btnStyle(30px, 30px, 2rem, 1rem, 2rem, 1rem, inline-block);
  }
}

.allcategory--packages {
  background-color: red;
  padding: 5px 12px;
  margin: 0 12px 0 15px;
}

.all--category {
  text-decoration: none;
}

.package--ultra,
.package--semi,
.package--premium,
.package--micro {
  text-decoration: none;
}

main {
  padding: 0 0 0 12px;
  margin-left: 12px;
  // position: relative;

  .stacked__container {
    display: flex;

    background-color: blue;
  }

  .left-part {
    // background-color: red;
    flex-basis: 100%;
    background-color: red;
    // flex-grow: 1;
  }
  .right-part {
    // background-color: blue;
    background-color: pink;
    flex-basis: 100%;
  }
}

/* Utility Classes */

.search {
  display: flex;
  background-color: aqua;
  align-items: center;
  // position: relative;
  // margin-bottom: 8px;

  &__input {
    height: 30px;
    border: none;
    font-family: inherit;
    border: 1px solid red;
    padding-left: 12px;
    background-color: white;
    position: relative;

    flex-grow: 1;

    // background-color: aquamarine;

    &:focus {
      outline: none;
    }
  }

  &__button {
    position: absolute;
    left: 44%;
    // left: 400px;

    display: flex;
    align-items: center;
    background-color: white;
    padding-right: -30px;
    border: none;
    // background-color: white;
  }

  &__icon {
    height: 25px;
    width: 25px;
    fill: red;
  }
}

.expand__icon {
  height: 20px;
  width: 30px;
  fill: red;
}

.photography--studio {
  width: 100%;
}

.form__text {
  width: 50%;
  height: 40px;
}

.features {
  display: flex;
  background-color: red;
  padding-left: 24px;
  justify-content: space-between;
  // justify-content: space-between;
  .feature {
    text-decoration: none;
    background-color: blue;
    @include mixins.btnStyle(
      $padding-left: 2rem,
      $padding-top: 0.1rem,
      $padding-right: 2rem,
      $padding-bottom: 0.1rem,
      $disp: inline-block
    );
    border-radius: 12px;
  }
}
