@use "../Abstract/base";

@use "../Abstract/mixins";

body {
  padding: 12px;
}

.wrapper {
  position: relative;
  // background-color: purple;
  // background-color: aqua;
  // width: 50%;
  // margin: 0 auto;
}

.text {
  font-size: 3rem;
  padding: 1rem;
  // background-color: red;
  // display: block;
  // text-align: center;

  &::before {
    content: "{";
    position: absolute;
    top: -9px;
    left: 160px;
    transform: scale(2) rotate(90deg);
  }

  &::after {
    content: "[";
    position: absolute;
    top: 50px;
    left: 150px;
    transform: scale(2) rotate(-90deg);
  }
}

.btn--container {
  position: relative;
}

.sign-in {
  position: absolute;
  top: 0;
  right: 80px;
  background-color: red;

  &:link,
  &:visited {
    text-decoration: none;
    transition: background-color 1s;
    display: inline-block;
    @include mixins.btnStyle(30px, 30px, 2rem, 1rem, 2rem, 1rem, inline-block);
  }
}

.sign-up {
  background-color: yellow;
  &:link,
  &:visited {
    text-decoration: none;
    transition: background-color 1s;
    @include mixins.btnStyle(30px, 30px, 2rem, 1rem, 2rem, 1rem, inline-block);
  }
}

.allcategory--packages {
  background-color: red;
  padding: 5px 12px;
  margin: 0 12px 0 15px;
}

.all--category {
  text-decoration: none;
  //   background-color: blue;
  //   @include mixins.btnStyle(
  //     $padding-left: 2rem,
  //     $padding-top: 1rem,
  //     $padding-right: 2rem,
  //     $padding-bottom: 1rem,
  //     $disp: inline-block
  //   );
}

.package--ultra,
.package--semi,
.package--premium,
.package--micro {
  text-decoration: none;
}

main {
  padding: 0 0 0 12px;
  margin-left: 12px;
}

/* Utility Classes */
.text--white {
  color: white;
}

.btn--red {
  background-color: red;
}

.btn--yellow {
  background-color: yellow;
}

.mr-1 {
  margin-right: 20px;
}

.mt-1 {
  margin-top: 30px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 10px;
}

.mb-1 {
  margin-bottom: 30px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 10px;
}

.search {
  //   display: flex;
  //   background-color: red;
  //   display: flex;
  //   justify-content: space-around;
  display: flex;

  align-items: center;
  //   background-color: red;

  &__input {
    width: 50%;
    height: 30px;
    // border: none;
    border: none;
    background-color: white;
    font-family: inherit;
    border: 1px solid red;
    // padding: 12px;
    // outline: none;
    // border: none;
    padding-left: 12px;

    &:focus {
      outline: none;
    }
  }

  &__button {
    border: none;
    transform: translate(-80px, 2px);

    background-color: white;
    // border: none;
    // width: 50px;
    // background-color: grey;
  }

  &__icon {
    height: 20px;
    width: 30px;
    // fill: white;
    fill: red;
  }
}

.expand__icon {
  height: 20px;
  width: 30px;
}

.photography--studio {
  width: 100%;
}

.form__text {
  width: 50%;
  height: 40px;
}

.features {
  //   background-color: red;
  width: 50%;
  display: flex;
  background-color: red;
  padding-left: 24px;
  justify-content: space-between;
  .feature {
    text-decoration: none;
    background-color: blue;
    @include mixins.btnStyle(
      $padding-left: 2rem,
      $padding-top: 0.1rem,
      $padding-right: 2rem,
      $padding-bottom: 0.1rem,
      $disp: inline-block
    );
    border-radius: 12px;
  }
}
