* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 12px;
}

.curly-container {
  /* position: absolute;
  top: 0px; */
  /* top: 0px;
  left: 35px; */
  /* transform: rotate(90deg);
  background-color: aqua;
  width: 100px;
  height: 120px; */
  /* background-color: blue; */
}

.wrapper {
  /* background-color: purple; */
  background-color: aqua;
  position: relative;
  /* width: 50%; */
  /* margin: 0 auto; */
}

.text {
  /* background-color: red; */
  /* display: block; */

  font-size: 3rem;
  padding: 1rem;
  /* text-align: center; */
}

.text::before {
  content: "{";
  /* position: absolute; */
  position: absolute;
  top: -9px;
  /* background-color: red; */
  left: 160px;

  transform: scale(2) rotate(90deg);
}

.text::after {
  content: "[";
  position: absolute;
  top: 50px;
  transform: scale(2) rotate(-90deg);
  left: 150px;
  /* background-color: blue; */
}

.btn--container {
  position: relative;
}

a:link,
a:visited {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;

  color: inherit;

  transition: background-color 1s;
}

.sign-in,
.sign-up {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.sign-in {
  position: absolute;
  top: 0px;
  right: 80px;
  background-color: red;
}

.sign-up {
  background-color: yellow;
}

/* .sign-up {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
} */

a:hover {
  background-color: red;
}
